<div class="container">
    <footer class="footer">
      <smal>
        Copyright &copy; <a href="https://myalphablogjoelj8.herokuapp.com">The Complete Ruby on Rails Develooper by Joelj8</a>
      </smal>
      <nav>
        <ul>
          <li> <%= link_to "About", about_path %> </li>
        </ul>
      </nav>
    </footer>
</div>